/* Heading */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .navbar-link {
        @apply block py-7 pr-4 pl-3 
        text-gray-400 
        border-b 
        border-gray-100 
        hover:bg-white
        md:hover:bg-transparent 
        md:border-0 
        md:hover:text-white  
    }
    .navbar-link-mobile {
        @apply 
        text-black
        border-b 
        border-gray-100 
        hover:bg-gray-500
       
    }
} 
@layer{
    body{
        @apply font-inter
    }
}
@font-face {
    font-family:blair ;
    src: url(/Blair\ ITC\ Std\ Regular.otf);
}
@layer utilities{
    .text-blair{
        @apply font-blair
    }
}